.cm-o-logo {
    $block:&;
    color:getColor(primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:getSize($small);
    min-width: 200px;
    @include font-size($fontSizeJumpDT1, $lineHeightDT);
    @include cm-qs-bold;

    &:hover {
        text-decoration:none;
    }

    .shield {
        height: getSize($big);
        width: getSize($big);
    }

    .shieldPWC {
        height: getSize($bigger);
        width: auto;
    }

    .shield svg, .shieldPWC svg {
        height: 100%;
        width: auto;
    }
}

.cm-o-logo--centered {
    @extend .cm-o-logo;
    justify-content: center;
}