.cm-o-logo {
    $block:&;
    color:getColor(primary);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:getSize($small);
    @include font-size($fontSizeJumpDT1, $lineHeightDT);
    @include cm-qs-bold;

    &:hover {
        text-decoration:none;
    }

    .shield {
        height: getSize($big);
        width: getSize($big);
    }
}

.cm-o-logo--centered {
    @extend .cm-o-logo;
    justify-content: center;
}