@mixin button {
    border:0;
    border-radius:getSize($small);
    cursor:pointer;
    text-align: left;

    &:hover {
        text-decoration: none;
    }
}

@mixin button-primary {
    color:getColor(white);
    background-color: getColor(primary);
}

@mixin button-secondary {
    color:getColor(scarpaFlow);
    background-color: getColor(straw);
}

@mixin button-transparent {
    color:getColor(primary);
    background-color: getColor(white);
    box-shadow:0px 0px 0px 2px getColor(primary) inset;
}

@mixin button-ghost {
    color:getColor(primary);
    background:transparent;
}

@mixin button-ghost-inactive {
    color:getColor(scarpaFlowLight);
    background: transparent;
    cursor: default;
}

@mixin button-inactive {
    color:getColor(white);
    background-color: getColor(scarpaFlowLight);
}

@mixin button-cat {
    padding:getSize($tiny)getSize($small);
    @include button;
    @extend .cm-u-text-cat;
    @include cm-qs-bold;
}

@mixin button-cat-small {
    padding: getSize($tiny) getSize($big);
    @include button;
    @extend .cm-u-text-cat;
    @include cm-qs-bold;
}

@mixin button-mouse {
    height: getSize($larger);
    padding: getSize($tiny) getSize($big);
    @include button;
    @extend .cm-u-text-mouse;
    @include cm-qs-bold;
}

@mixin button-dog {
    padding:getSize($medium)getSize($small);
    @include button;
    @extend .cm-u-text-dog;
    @include cm-qs-bold;
}