.cm-u-spacer {
    $block:&;
    // margin top
    &-mt-base { margin-top:getSize($base); }
    &-mt-tiny { margin-top: getSize($tiny);}
    &-mt-small{ margin-top: getSize($small);}
    &-mt-medium{ margin-top: getSize($medium);}
    &-mt-big{ margin-top: getSize($big);}
    &-mt-bigger{ margin-top: getSize($bigger);}
    &-mt-large{ margin-top: getSize($large);}
    &-mt-huge{ margin-top: getSize($huge);}
    &-mt-enormous{ margin-top: getSize($enormous);}
    &-mt-gigantic{ margin-top: getSize($gigantic);}
    // margin bottom
    &-mb-base { margin-bottom:getSize($base); }
    &-mb-tiny { margin-bottom: getSize($tiny);}
    &-mb-small{ margin-bottom: getSize($small);}
    &-mb-medium{ margin-bottom: getSize($medium);}
    &-mb-big{ margin-bottom: getSize($big);}
    &-mb-bigger{ margin-bottom: getSize($bigger);}
    &-mb-large{ margin-bottom: getSize($large);}
    &-mb-huge{ margin-bottom: getSize($huge);}
    &-mb-enormous{ margin-bottom: getSize($enormous);}
    &-mb-gigantic{ margin-bottom: getSize($gigantic);}
    // margin auto
    &-m-auto{margin:auto};
    &-mlr-auto{margin:0 auto};
    // margin-right
    &-mr-base { margin-right:getSize($base); }
    &-mr-tiny { margin-right: getSize($tiny);}
    &-mr-small{ margin-right: getSize($small);}
    &-mr-medium{ margin-right: getSize($medium);}
    &-mr-big{ margin-right: getSize($big);}
    &-mr-bigger{ margin-right: getSize($bigger);}
    &-mr-large{ margin-right: getSize($large);}
    &-mr-huge{ margin-right: getSize($huge);}
    &-mr-enormous{ margin-right: getSize($enormous);}
    &-mr-gigantic{ margin-right: getSize($gigantic);}
    // margin-left
    &-ml-base { margin-left:getSize($base); }
    &-ml-tiny { margin-left: getSize($tiny);}
    &-ml-small{ margin-left: getSize($small);}
    &-ml-medium{ margin-left: getSize($medium);}
    &-ml-big{ margin-left: getSize($big);}
    &-ml-bigger{ margin-left: getSize($bigger);}
    &-ml-large{ margin-left: getSize($large);}
    &-ml-huge{ margin-left: getSize($huge);}
    &-ml-enormous{ margin-left: getSize($enormous);}
    &-ml-gigantic{ margin-left: getSize($gigantic);}
}