// font-family
$quicksand: 'Quicksand', sans-serif;
$symbols: 'Material Symbols Outlined';

// weights
$qs-regular: 400;
$qs-medium: 500;
$qs-bold: 700;

//base size for desktop/mobile without unit
$defFontSizeDT:14;

//scaling factors desktop
$factorLineHeightDT:1.715;
$factorScaleDT:1.333;

//scaling factors mobile

//Base line height calculation
$lineHeightDT: floor($defFontSizeDT * $factorLineHeightDT); //24

//scaling jumps
$fontSizeJumpDT1: ceil($defFontSizeDT * $factorScaleDT); //19
$fontSizeJumpDT2: floor($fontSizeJumpDT1 * $factorScaleDT); //25
$fontSizeJumpDT3: floor($fontSizeJumpDT2 * $factorScaleDT); //33
$fontSizeJumpDT4: floor($fontSizeJumpDT3 * $factorScaleDT); //44

//other special sizes
$mouseFontSizeDT:14;
