#playersList {
  .cm-l-body {
    padding-top: 214px;
  }
}

#playerDetails {
  .cm-l-body {
    padding-top: 141px;
  }
}

#paymentsPlayersList {
  .cm-l-body {
    padding-top: 126px;
  }
}

#playerPaymentDetails {
  .cm-l-body {
    padding-top: 78px;
  }
}

#manageMastersList, #usersList, #userDetails, #teamDetails, #intermsDetails {
  .cm-l-body {
    padding-top: 64px;
  }
}