.cm-l-tabledata {
    $block:&;
    display: flex;
    flex-direction: column;

    &__row, &__header, &__footer {        
        display:flex;
        gap: 8px;
    }

    &__row, &__header {
        border-bottom:1px solid getColor(scarpaFlowLight);  
    }

    &__header {
        @extend .cm-u-text-black-mouse;

        .table-bg {
            padding: 0 getSize($small);
        }

        .tablecell-bg-old {
            background-color: getColor(black);
            color: getColor(white);
        }

        .tablecell-bg-present {
            background-color: getColor(primary);
            color: getColor(white);
        }

        .tablecell-bg-future {
            background-color: getColor(success);
            color: getColor(black);
        }

        .tablecell-bg-totals {
            background-color: getColor(secondary);
            color: getColor(white);
        }
    }

    &__row, &__footer {
        @extend .cm-u-text-mouse;
        align-items: center;
        min-height: getSize($large);
        height: auto;
        padding: getSize($small) 0;
    }

    &__row--noRead {
        @extend .cm-u-text-black-mouse;
        background-color: getColor(scarpaFlowLightFade);
    }

    &__row--nospace, &__header--nospace {
        align-items: stretch;
        border-bottom: 0;
        padding: 0 0 1px 0;
        min-height: auto;
        gap: 1px;
    }

    &__row {
        .table-bg {
            padding: 0 getSize($small);
        }
        .tablecell-bg-old {
            background-color: getColor(scarpaFlowLight);
            color: getColor(black);
        }
        .tablecell-bg-present {
            background-color: getColor(primaryLight);
            color: getColor(black);
        }
        .tablecell-bg-future {
            background-color: getColor(successLight);
            color: getColor(black);
        }
        .tablecell-bg-totals {
            background-color: getColor(secondaryLight);
            color: getColor(black);
        }
    }

    .tablecell {
        $block:&;
        &-long, &-medium, &-short {
            display: flex;
            align-items: center;
        }
        &-long {
            flex:2;
            //overflow: hidden;
            //white-space: nowrap;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }

        &-medium {
            flex:1;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }
        &-short {
            flex:0;
            max-width: 60px;
            min-width: 60px;
        }
    }
}

.cm-l-table-players {
    $block:&;
    display: flex;
    flex-direction: column;

    &__header tr, &__body tr {
        border-bottom:1px solid getColor(scarpaFlowLight);  
        display: flex;
        flex:1;

        .table-players-td-long {
            flex:1;
        }

        .table-players-td-short {
            width: 60px;
        }

        .table-players-td-auto {
            flex-grow:0;
        }
    }

    &__header tr {
        @extend .cm-u-text-black-mouse;
        align-items: end;
    }

    &__body tr {
        @extend .cm-u-text-mouse;
        align-items: center;
        height: getSize($huge);
    }
}

.cm-l-tabledata-cls-container {
    background-color: getColor(primary);
    border: 1px solid getColor(scarpaFlowLight);
    border-radius: getSize($small);
    overflow-x: scroll;
    width: 100%;   
    padding-bottom: getSize($medium); 
}

.cm-l-tabledata-cls {
    $block:&;
    height: 1px;
    box-sizing:border-box;
    border-collapse: collapse;
    border-spacing:0px;

    &__header {
        @extend .cm-u-text-black-mouse;
        tr {
            display: flex;
            flex-direction: row;
        }

        th {
            background-color: getColor(primary);
            color: getColor(white);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: getSize($larger);            
        }
    }

    &__body {

        tr {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            height: getSize($larger);
            border-bottom: 1px solid getColor(white);
        }

        td {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: getColor(white);
            color: getColor(primary);

            .cell-clause, .cell-data {
                display: flex;
                flex-direction: row;                 
                align-items: center;  
                height: calc(100% - 16px);
                width: calc(100% - 16px);
                padding: 8px;
            }

            .cell-clause { 
                justify-content: flex-start;            
            }            

            .cell-data { 
                justify-content: center;           
                gap: 8px;                 
            }
        }
    }

    .tablecell {
        $block:&;
        &-medium {
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }
    }
}