.cm-l-form {
    $block: &;

    &-simple {
        $block: &;
        display: flex;
        flex-flow: column nowrap;

        &__row {
            display: flex;
            flex-flow: column nowrap;
            margin-bottom:getSize($big);
            label {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap:getSize($small);
            }
        }
    }

    &-panel {
        $block: &;

        &__row {
            display: flex;
            flex-flow: row wrap;
            padding:getSize($small) 0;
            gap:getSize($small);

            span.error {
                color: getColor(danger);
                @include cm-qs-bold;
            }

            .panel-field-long {
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                align-items: center;
                gap:8px;
                width:getCols(12);

                span:not(.material-symbols-outlined) {
                    text-align: left;
                    width:getCols(2);
                }

                input[type=text], input[type=email], input[type=password], input[type=date], input[type=number] {
                    width:calc(getCols(4) - 6px);
                    max-width:calc(getCols(4) - 6px);
                }

                .cm-c-field-icon, .cm-c-select-icon {
                    width:getCols(4);
                    max-width:getCols(4);
                }

                span.assistance, span.error  {
                    flex-grow:1;
                    text-align: left;
                    @extend .cm-u-text-mouse;
                }

                span.pictureInputName {
                    display: flex;
                    align-self: center;
                    padding-left: getSize($big);
                    text-align: left;
                    width: 100%;
                }
            }

            .panel-field-short {
                $block: &;
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                align-items: center;
                gap:getSize($small);
                // margin-bottom:getSize($small);

                span:not(.material-symbols-outlined, .textLeft, .textRight) {
                    text-align: left;
                    width:getCols(2);
                    
                }

                input[type=text], input[type=email], input[type=password], input[type=date], .cm-c-field-icon, .cm-c-select-icon {
                    flex-grow: 1;
                    min-width: getCols(4);
                    max-width:getCols(4);
                }

                span.assistance, span.error {
                    margin-left:getCols(2)+getSize($small);
                    text-align: left;
                    width:getCols(4);
                    @extend .cm-u-text-mouse;
                }

                &__container {
                    $block: &;
                    display: flex;
                    flex-direction: column;
                }

                &--inline {
                    span:not(.material-symbols-outlined) {
                        text-align: left;
                        width: auto !important;                        
                    }
                }
            }

            .panel-field-flexible {
                $block: &;
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                align-items: center;
                gap:getSize($small);

                .textLeft {
                    text-align: right;
                }
            }
        }
    }
}

.cm-l-tabledata {
    $block:&;

    &__row {


        input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], &input[type=text], &input[type=number], &input[type=email], &input[type=password], &input[type=date]{
            border:1px solid getColor(primaryLight);
            border-radius: getSize($small);
            color: getcolor(primaryLight);
            height:calc(getSize($larger) - 4px);
            text-indent: getSize($medium);
            @include font-size($defFontSizeDT, $lineHeightDT);
            @include cm-qs-normal;
    
    
            &:focus, &:focus-visible, &:active {
                border-color:getColor(primary);
                border-width:2px;
                outline:none;
            }
    
            &:invalid, &:focus:invalid {
                border-color:getColor(primary);
                border-width:2px;
                outline:none;
            }
    
            &:read-only {
                border:2px solid getColor(scarpaFlowLight);
                color: getColor(scarpaFlowFade);
            }
    
            &:read-only::placeholder {
                color: getColor(scarpaFlowLight);
            }
    
            &:-internal-autofill-selected {
                background-color: getColor(white) !important;
            }
        }
    
        input[type="radio"], input[type="checkbox"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            appearance: none;
            /* For iOS < 15 to remove gradient background */
            background-color: #fff;
            /* Not removed via appearance */
            margin: 0;
            border:1px solid getColor(primaryLight);
            border-radius:getSize($small);
            height: getSize($bigger);
            width: getSize($bigger);
            display: grid;
            place-content: center;
    
            &::before {
                content:"check";
                border-radius:getSize($small);
                box-shadow: inset getSize($bigger) getSize($bigger) getColor(success);
                display: flex;
                justify-content:center;
                align-items: center;
                height: getSize($bigger);
                width: getSize($bigger);
                transform: scale(0);
                transition: 120ms transform ease-in-out;
            }
    
            &:checked::before {
                color:getColor(scarpaFlow);
                font-family: 'Material Symbols Outlined';
                font-weight: normal;
                font-style: normal;
                font-size: 20px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
                transform: scale(1);
            }
        }
    
        &__radio-toggle {
            border:1px solid getColor(primaryLight);
            background-color: getColor(white);
            border-radius:getSize($small);
            position: relative;
            height: getSize($large);
            width: getSize($huger);
    
            input[type="checkbox"] {
                border:1px solid getColor(scarpaFlowLight);
                background-color: getColor(scarpaFlowLight);
                height: getSize($large);
                width: getSize($large);
                right:0;
                position: absolute;
                transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            }
    
            input[type="checkbox"]::before {
                right:0;
                position: absolute;
                transform: scale(1);
                opacity:0;
            }
    
            input[type="checkbox"]:checked::before {
                content:"check";
                border-radius:getSize($small);
                box-shadow: inset 0 getSize($large) getColor(success);
                display: flex;
                justify-content:center;
                align-items: center;
                height: getSize($large);
                width: getSize($large);
                opacity:1;
            }
    
            input[type="checkbox"]:checked {
                transform:translateX(-32px);
                position: absolute;
                
            }
    
        }  
    }
} 